h1 {
    color: rgba(93, 130, 216, 0.89);
    font-size: 70px;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}
p {
    font-family: sans-serif;
    color: rgb(36, 170, 54);
}
button {
    background-color: orangered;
    color: white;
    border: 0;
    padding: 20px;
}