#dato0{
    color: aqua;
    font-size: 40px;
}
.pato{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: right;
    background-color: burlywood;
}

div{
    height: 400px;
    width: 400px;
}